body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
}

.base {
    position: relative;
    height: 100vh;
    aspect-ratio: 1920 / 1080;
}

.draw-layer, .color-layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.color-layer {
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.color-layer:hover {
    opacity: 1;
}

.homework-click-path {
    clip-path: polygon(33.02% 22.31%, 32.40% 23.15%, 32.34% 24.35%, 32.29% 25.83%, 31.56% 26.02%, 31.04% 25.93%, 30.31% 25.74%, 30.26% 24.17%, 29.90% 23.24%, 29.90% 22.04%, 30.68% 21.76%, 31.04% 20.46%, 31.51% 19.91%, 31.77% 19.44%, 31.82% 18.43%, 30.78% 18.15%, 30.31% 18.52%, 30.21% 20.00%, 29.38% 21.76%, 29.06% 19.54%, 29.22% 18.33%, 29.43% 17.87%, 29.64% 16.48%, 30.05% 16.02%, 30.00% 14.44%, 30.26% 12.59%, 31.09% 11.20%, 30.94% 10.28%, 30.16% 10.56%, 30.26% 8.89%, 30.83% 8.15%, 31.98% 7.41%, 31.51% 6.57%, 30.52% 6.57%, 30.47% 5.09%, 30.47% 2.59%, 30.52% 1.20%, 31.72% 0.93%, 32.71% 1.48%, 34.27% 1.67%, 34.38% 2.87%, 34.48% 3.24%, 34.90% 3.24%, 35.36% 1.76%, 36.04% 0.56%, 36.82% 1.30%, 37.08% 0.28%, 38.02% -0.09%, 39.27% 0.00%, 39.84% 0.00%, 39.38% 1.20%, 39.48% 2.13%, 39.64% 3.70%, 39.64% 5.37%, 40.36% 4.17%, 40.83% 4.72%, 40.89% 6.02%, 41.72% 6.39%, 42.71% 6.11%, 43.54% 5.93%, 44.27% 3.98%, 45.00% 4.63%, 45.05% 6.94%, 46.82% 6.48%, 46.82% 7.78%, 46.88% 9.17%, 47.14% 9.91%, 47.40% 10.28%, 47.86% 9.07%, 48.02% 6.30%, 48.96% 5.93%, 49.48% 7.50%, 51.25% 5.65%, 50.89% 8.70%, 53.65% 9.07%, 53.85% 9.35%, 53.96% 10.46%, 52.97% 10.74%, 52.34% 11.85%, 52.71% 12.78%, 52.71% 14.81%, 53.18% 15.19%, 54.22% 15.28%, 54.53% 13.80%, 54.95% 12.50%, 56.15% 12.31%, 57.29% 12.31%, 57.66% 11.94%, 58.39% 11.85%, 58.85% 10.83%, 59.64% 9.44%, 60.89% 9.81%, 61.67% 11.30%, 61.82% 11.48%, 61.93% 9.35%, 63.59% 10.19%, 64.69% 12.41%, 65.10% 12.96%, 65.94% 12.69%, 66.72% 13.24%, 66.25% 15.19%, 66.61% 15.19%, 67.71% 14.07%, 68.44% 15.83%, 68.39% 18.15%, 67.76% 19.26%, 68.75% 20.09%, 68.96% 21.11%, 68.18% 23.43%, 67.45% 23.43%, 66.61% 22.96%, 65.94% 25.00%, 65.89% 26.30%, 66.67% 27.13%, 66.88% 29.44%, 66.61% 31.76%, 65.68% 32.50%, 65.31% 31.76%, 64.69% 29.63%, 63.23% 29.63%, 34.58% 29.26%, 33.85% 28.80%, 33.54% 27.78%, 33.91% 27.13%, 34.58% 26.39%, 34.58% 24.63%, 33.91% 22.96%, 33.54% 22.31%);
}

.math-click-path {
    clip-path: polygon(36.98% 56.48%, 37.19% 58.15%, 37.19% 60.00%, 37.19% 60.00%, 37.24% 61.67%, 36.82% 63.06%, 37.19% 64.26%, 37.19% 64.35%, 36.67% 66.11%, 35.42% 66.76%, 34.58% 67.13%, 34.06% 66.02%, 34.06% 66.02%, 33.33% 64.35%, 33.49% 62.78%, 34.32% 62.04%, 34.01% 60.93%, 33.49% 60.37%, 33.70% 58.43%, 34.06% 56.94%, 34.06% 56.02%, 33.91% 55.09%, 33.13% 54.91%, 33.33% 53.06%, 33.85% 52.41%, 33.96% 50.74%, 34.01% 49.35%, 33.33% 48.70%, 32.76% 48.61%, 31.82% 47.50%, 31.77% 45.37%, 32.08% 45.00%, 32.60% 43.80%, 32.40% 42.87%, 31.61% 42.69%, 32.60% 40.46%, 34.06% 40.19%, 34.11% 38.80%, 35.73% 39.26%, 35.99% 38.43%, 36.41% 38.33%, 36.98% 36.85%, 38.07% 37.04%, 38.85% 37.96%, 38.75% 39.17%, 39.38% 37.78%, 40.05% 38.33%, 40.05% 38.33%, 40.73% 40.56%, 41.56% 39.91%, 41.93% 40.46%, 41.46% 41.76%, 41.82% 43.15%, 42.45% 42.22%, 42.86% 44.17%, 42.55% 45.65%, 43.02% 47.13%, 42.92% 48.70%, 43.02% 49.91%, 43.70% 48.98%, 44.06% 47.22%, 44.79% 46.57%, 44.79% 45.00%, 52.19% 45.00%, 52.50% 46.02%, 52.97% 47.78%, 53.33% 49.17%, 53.44% 50.19%, 53.70% 51.85%, 53.70% 53.24%, 53.65% 55.83%, 53.49% 56.02%, 40.73% 56.02%, 37.29% 55.46%);
}

.bio-click-path {
    clip-path: polygon(63.49% 56.20%, 53.91% 56.20%, 52.92% 50.19%, 52.29% 47.22%, 50.57% 46.39%, 45.68% 46.39%, 44.53% 47.59%, 44.53% 44.07%, 45.52% 43.98%, 50.63% 43.61%, 54.43% 42.59%, 60.94% 41.48%, 63.44% 41.30%);
}

.phy-click-path {
    clip-path: polygon(63.18% 80.74%, 63.02% 63.89%, 60.63% 63.98%, 59.90% 65.65%, 58.07% 66.02%, 55.16% 66.48%, 52.03% 67.04%, 49.95% 67.04%, 49.95% 72.96%, 49.27% 72.96%, 48.54% 73.70%, 46.93% 73.06%, 46.30% 73.61%, 46.72% 74.81%, 46.30% 76.39%, 46.30% 77.59%, 46.41% 79.44%, 46.98% 80.56%, 62.97% 81.11%);
}

.chem-click-path {
    clip-path: polygon(50.05% 64.91%, 47.40% 64.63%, 47.24% 66.94%, 45.42% 66.76%, 43.44% 66.57%, 43.02% 64.72%, 40.73% 64.81%, 39.64% 65.65%, 37.34% 66.20%, 36.82% 66.30%, 36.30% 65.37%, 35.68% 65.28%, 35.10% 66.11%, 34.17% 66.76%, 34.06% 67.59%, 33.54% 67.04%, 33.02% 68.06%, 33.02% 69.07%, 32.55% 70.37%, 32.55% 71.76%, 32.66% 72.50%, 32.55% 73.70%, 32.55% 76.02%, 33.85% 75.56%, 34.32% 75.46%, 34.64% 78.98%, 34.32% 79.07%, 34.06% 79.17%, 34.22% 80.09%, 34.84% 80.46%, 46.46% 80.65%, 46.82% 73.52%, 50.05% 73.52%);
}

.eng-click-path {
    clip-path: polygon(59.84% 96.57%, 55.57% 95.83%, 54.74% 94.26%, 55.21% 93.89%, 54.90% 92.22%, 51.30% 91.94%, 51.77% 93.52%, 52.14% 95.46%, 52.14% 96.39%, 47.50% 96.39%, 46.93% 95.46%, 45.16% 95.65%, 45.00% 96.30%, 34.90% 96.11%, 34.90% 93.61%, 35.21% 92.04%, 35.42% 90.37%, 35.42% 87.50%, 36.15% 86.57%, 45.05% 87.04%, 45.16% 93.61%, 46.93% 93.15%, 47.24% 91.76%, 51.35% 91.57%, 54.48% 90.56%, 54.43% 88.33%, 54.79% 86.20%, 54.69% 85.19%, 57.34% 84.72%, 60.63% 85.65%, 60.52% 86.85%, 60.99% 87.59%, 61.20% 89.91%, 60.78% 92.59%, 60.31% 94.17%, 60.89% 94.44%);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
    background-color: #fff;
    border: 3px solid black;
    min-width: 20%;
    font-size: 2em;
    font-family: 'Mali', cursive;
    padding: 50px;
    border-radius: 15px;
    text-align: center;
}

.modal.active {
    display: flex;
}